<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Admin User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="center">

<div class="card">

    <h2>Create Admin User</h2>

    <form method="post" th:action="@{/admin/users/create}">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <select name="role">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
        </select>

        <button type="submit">Create</button>
    </form>

</div>

</body>
</html>