<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="card" style="width:700px;margin:40px auto;">

    <h1>Admin Dashboard</h1>

    <div>
        <a th:href="@{/admin/dashboard}">Home</a>
        <a th:href="@{/admin/incidents}">Incidents</a>
        <a th:href="@{/admin/users/create-form}">Create User</a>
        <a th:href="@{/admin/customers/create-form}">Create Customer</a>
    </div>

    <br>

    <form th:action="@{/admin/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

</div>

</body>
</html>