<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="center">

<div class="card">

    <h2>Customer Login</h2>

    <form method="post" th:action="@{/customer/process-login}">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>

</div>

</body>
</html>