<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="center">

<div class="card">

    <h2>User Login</h2>

    <form method="post"
          th:action="@{/user/process-login}">

        <input type="text"
               name="username"
               placeholder="Username">

        <input type="password"
               name="password"
               placeholder="Password">

        <button type="submit">
            Login
        </button>

    </form>

</div>

</body>
</html>